<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../font/bootstrap-icons.css">
        <link rel="stylesheet" href="../css/bootstrap.min.css"/>
        <link href="../css/home/header.css" rel="stylesheet">
        <%- include('./partials/head.ejs') %>
        <title>Home</title>
        <%- include('./partials/home.ejs') %>
      </head>
    <body class="position-relative" data-bs-spy="scroll">
      <%- include('./partials/navbar.ejs') %>
      <div data-spy="scroll" data-target="#navbar" data-offset="0">
      </div>
      <%- include('./partials/scripts.ejs') %>
    </body>
</html>